<h1> Registro de paciente</h1>
<%= render 'form' %>

<%= link_to 'Atras', pacientes_path %>
<form name="f1"> 
<select name=pais onchange="cambia_provincia()"> 
<option value="0" selected>Seleccione... 
<option value="1">España 
<option value="2">Argentina 
<option value="3">Colombia 
<option value="4">Francia 
</select>

<select name=provincia> 
<option value="-">- 
</select> 
</form>


