<h1> Registro de paciente</h1>
<%= render 'form' %>

<%= link_to 'Atras', pacientes_path %>
<form name="f1"> 
<select name=pais onchange="cambia_provincia()"> 
<option value="0" selected>Seleccione... 
<option value="1">España 
<option value="2">Argentina 
<option value="3">Colombia 
<option value="4">Francia 
</select>

<select name=provincia> 
<option value="-">- 
</select> 
</form>
<script>
/*
var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
var f=new Date();
console.log(f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
var f1=document.getElementById("paciente_fecha_nacimiento").value;
alert(f1);
alert(f.getFullYear()+ "-" + (f.getMonth())+"-"+f.getDate());
var fecha1=new Date(f1);
var fecha3=new Date(parseInt(fecha1.getFullYear()),parseInt(fecha1.getMonth()),parseInt(fecha1.getDate()));

var fecha2=new Date(parseInt(f.getFullYear()),parseInt(f.getMonth()),parseInt(f.getDate()));
var fe1=new Date(2016,10,10);
var fe2=new Date(2016,10,10);
alert("ssasd");
alert(fecha1);
alert(fecha2);
if (fecha1>=fecha2) {
	alert("error");
}
else
{
		alert("error2");
}	*/
</script>

