<div class="pull-left" style="width: 10%;display: inline-block">

</div>
<div style="width: 70%;;display: inline-block" class="text-center">
  <strong>
    <br/>
    MINISTERIO DE SALUD Y DEPORTES<br/>
    PROGRAMA NACIONAL DE CONTROL DE CHAGAS<
    FORMULARIO N°2 MUESTRA PARA<br/>
    PROCESAMIENTO EN EL TERCER NIVEL<br/>
  </strong>
</div>
<div class="pull-right" style="width: 10%;;display: inline-block">

</div>
<table class="table table-condensed" >
  <tbody>
  <tr>
    <td>SEDES:</td>
    </p>
    <td>MUNICIPIO:</td>
    </p>
    <td colspan="3">LABORATORIO DE SEGUNDO NIVEL:</td>
  </tr>
  </tbody>
</table>
