<ul class="nav nav-sidebar">
  <li><a href="/areas">Areas</a></li>
  <li><a href="/distritos">Distritos</a></li>
  <li><a href="/establecimientos">Establecimientos</a></li>
  <li><a href="/provincia">Provincia</a></li>
  <li><a href="/sectors">Sector</a></li>
</ul>